{% extends 'main.html' %}

{% block contentmain %}
    <h1 class="float-left">Zestawienie wszystkich transakcji</h1>
    <table class="table table-responsive-sm">
    <thead class="thead-light">
    <tr>
        <th scope="col">Data</th>
        <th scope="col">Źródło</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Opis</th>
        <th scope="col">Kwota<small class="text-muted">(PLN)</small></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions.items %}
    <tr>
        <td>{{ action.date.strftime('%d.%m.%Y') }}</td>
        <td>{{ source_by_id[action.money_source_id].capitalize() }}</td>
        <td>{% if action.budget_action_category_id > 0 %}{{ action.budget_action_category.name.capitalize() }}{% else %}Brak
            kategorii{% endif %}
        </td>
        <td>{{ action.title }}</td>
        <td>{% if action.budget_action_type_id == income_id %}<span class="text-success">+{{ action.amount }}</span>{%
            endif %}{% if action.budget_action_type_id == expense_id %}<span
                    class="text-danger">-{{ action.amount }}</span>{% endif %}
        </td>
        <td><a class="fas fa-edit edit-icon text-dark" href="{{ url_for('budget.mod_budget_actions', action_id=action.id, page=actions.page) }}"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Transations pagnitation">
  <ul class="pagination justify-content-center">
    {% for page_num in actions.iter_pages(left_current=2, right_current=2, left_edge=1, right_edge=1) %}
        {% if page_num %}
            {% if page_num == actions.page %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('budget.mod_budget_actions', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><a class="page-link">..</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</nav>
{% if form_income_mod %}
    {% include 'mod_income_action.html' %}
{% endif %}
{% if form_expense_mod %}
    {% include 'mod_expense_action.html' %}
{% endif %}
{% endblock contentmain %}