{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <h1>Apikacja internetowa <b class="logo-color">HomeCash</b></h1>

            <h5 class="w-75 mt-4 text-secondary text-center">Umożliwia zarządzanie swoim domowym budżetem online.</h5>

            <ul class="list-group list-group-flush plr">
                <h4 class="text-success mt-5">Korzyści:</h4>
                <li class="list-group-item"><h5 class="fas fa-clipboard-check float-left text-success mr-4" aria-hidden="true"></h5>Prowadzenie budżetu domowego</li>
                <li class="list-group-item"><h5 class="fas fa-clipboard-check float-left text-success mr-4" aria-hidden="true"></h5>Kontrola wydatków</li>
                <li class="list-group-item"><h5 class="fas fa-clipboard-check float-left text-success mr-4" aria-hidden="true"></h5>Pomoc przy oszczędzaniu</li>
                <li class="list-group-item"><h5 class="fas fa-clipboard-check float-left text-success mr-4" aria-hidden="true"></h5>Prostota i intuicyjność aplikacji</li>
                <li class="list-group-item"><h5 class="fas fa-clipboard-check float-left text-success mr-4" aria-hidden="true"></h5>W pełni i na zawsze darmowa</li>
            </ul>
            <h5 class="text-center mt-4 mb-3">Posiadasz już konto?</h5>
            <div class="text-center">
                <a href="{{ url_for('users.login') }}" class="btn-lg btn-info text-light non-dec p-2">Zaloguj się</a>
            </div>
        </div>
        <div class="col-lg border-right border-info"></div>
        <div class="col-lg ml-3"></div>
        <div class="col-lg-4">
            <div class="center-vertically">
                <h1 class="mb-5">Zarejestruj się</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }}
                        {% if form.email.errors %}
                            {{ form.email(class='form-control is-invalid', type='email') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class='form-control', type='email') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {{ form.password(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password_repeated.label }}
                        {% if form.password_repeated.errors %}
                            {{ form.password_repeated(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.password_repeated.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password_repeated(class='form-control') }}
                        {% endif %}
                    </div>
                    <div class="text-center mb-5">
                        {{ form.submit(class='btn btn-primary') }}
                    </div>

                </form>
                <div class="mb-5">&nbsp;</div>
            </div>
        </div>
    </div>

{% endblock content %}