{% extends 'main.html' %}

{% block contentmain %}
<h1>Przenoszenie środków</h1>
<hr>
<div class="w-75">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.money_source.label }}
            {% if form.money_source.errors %}
            {{ form.money_source(class='form-control is-invalid') }}
            <div class="invalid-feedback">
                {% for error in form.money_source.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.money_source(class='form-control') }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.money_destination.label }}
            {% if form.money_destination.errors %}
            {{ form.money_destination(class='form-control is-invalid') }}
            <div class="invalid-feedback">
                {% for error in form.money_destination.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.money_destination(class='form-control') }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.amount.label }}
            {% if form.amount.errors %}
            {{ form.amount(class='form-control is-invalid', type='number', step='0.01') }}
            <div class="invalid-feedback">
                {% for error in form.amount.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.amount(class='form-control', type='number', step='0.01') }}
            {% endif %}
        </div>
        <div class="text-center mb-5">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock contentmain %}